* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome;
    font-size: 13px;
}

window#waybar {
    background-color: #000000;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffcaff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    color: #ff0000;
}

#workspaces button.active {
    color: #ffcaff;
}

#workspaces button.empty {
    color: #888888;
}


#workspaces button.focused {
    color: #ff0000;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    color: #00ff00;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffcaff;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #ffcaff;
}

#battery {
    color: #ffcaff;
}

#battery.charging, #battery.plugged {
    color: #ffcaff;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ffcaff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#network {
    color: #FFCAFF;
}

#network.disconnected {
    color: #888888;
}

#pulseaudio {
    color: #ffcaff;
}

#pulseaudio.muted {
    color: #888888;
}

#wireplumber {
    color: #ffcaff;
}

#wireplumber.muted {
    color: #888888;
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#weather {
    font-family: "Noto Color Emoji";
    color: #ffcaff;
}
